body{
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/*Nav*/
nav {
    height: 4.5vh;
    background-color: #838383;
}

/* Container */
.container{
    width: 100%;
    /* max-width:  */
    margin: 0 auto;
}

.intro{
    display: flex;
    flex-direction: column;

    text-align: end;
    padding-right: 120px;
    padding-top: 30px;

    width: 100%;
    height: 45vh;
    line-height: 50px;

    bottom: 0;
    left: 0;
    z-index: 1;

    color: #ffffff;
    background-color: #4696E5;
}

.intro__component {
    /* float: left; */

    font-size: 20px;
    text-transform: uppercase;
}

.intro__nav {
    position: relative;

    display: inline-block;
    vertical-align: top;

    margin: 0 30px;
    text-decoration: none;

    color: #fff;

    transition: color .1s linear;
}

.intro__nav:hover {
    color: #FFDD00;
}

.intro__inner {
    font-size: 30px;
}

.intro__paragraph{
    font-weight: 800;
}

.intro__input {
    border-radius: 8px;

    font-size: 25px;
    color: #4696E5;

    width: 90%;
    height: 50px;
}

.intro__input::placeholder{
    padding-left: 28px;
    color: #BFDCF5;

    
    margin-top: 40px;
    font-size: 25px;
    font-weight: 500;
}

.intro__btn {
    padding-top: 20px;
}

.intro__btn--second {
    padding-right: 110px;
    margin-top: -71px;
}

.intro__btn__interface {
    border-radius: 7px;
    width: 85px;
    height: 50px;

    font-weight: 900;
    font-size: 16px;

    color: #fff;
    background-color: #4696E5;
}

/* Section */
.section {
    width: 100%;
    padding: 120px 0;
}

.section__header {
    text-align: center;

    width: 100%;
    /* max-width: ; */
    margin: 0 auto 14px;
}

.section__title {
    /* font-family:  */
    font-size: 30px;
    font-weight: 700;

    color: #838383;
}

.section__title:after {
    display: block;
    content: "";

    width: 86px;
    height: 2px;
    margin: 55px auto;

    background-color: rgb(179, 172, 172);
}


.section__column {
    position: relative;
    display: flex;
    /* flex-flow: column-reverse; */
    flex-direction: column;
    /* flex-wrap: nowrap; */
    font-weight: 500;
    font-size: 30px;

    margin-left: -480px;

    color: #838383;

    margin-top: -100px;
    padding-left: 550px;
}

.section__row {
    display: flex;
    border: 1px solid grey;
    padding: 25px;
    margin-right:525px;
    margin-bottom: 25px;
}

.section__items{
    position: absolute;
    padding-left: 225px;
    text-transform: none;
}

.section__items--click {
    text-decoration: line-through;
    color: red;
}

.section__btn__complete {
    width: 100px;
    height: 40px;

    font-weight: 700;
    font-size: 15px;

    /* margin-left: -296px;
    margin-top: -0px;  */

    color: #838383;
    background-color: #fff;
}

.section__btn__delete {
    width: 100px;
    height: 40px;

    font-weight: 700;
    font-size: 15px;

    /* margin-left: -90px; */

    color: #838383;
    background-color: #fff;
}

.section__content {
    margin-top: -200px;
	width:680px;
	height:320px;    
	margin-left: 850px;
	/* margin:150px auto; */
  }
  
/*Table*/  
  .form-wrapper {
	margin:32px auto;
	width:264px;
	height:253px;
	position:relative;
	border:1px solid rgb(197,200,204);
	background-color:rgb(248,249,250);
	text-align:center;
	border-radius:5px;
	box-shadow:0 1px 0 rgb(255,255,255), 0 2px 0 rgb(197,200,204), 0 3px 0 rgb(255,255,255), 0 4px 0 rgb(197,200,204);/*纸张层叠效果*/
  }
  .form-wrapper:before {
	content:"";
	display:block;
	height:37px;
	border-bottom:1px solid rgb(197,200,204);
	border-radius:5px 5px 0 0;
	box-shadow:inset 2px 2px 0 rgb(255,255,255);
  }
  
  .form-wrapper .login-form {
	padding-top:40px;
	box-shadow:inset 2px 0 0 rgb(255,255,255);
  }
  .form-wrapper input[name="username"],
  .form-wrapper input[name="country"] {
	height:40px;
	width: 200px;
	margin:0 auto;
	padding-left:15px;
	display:block;
	border:1px solid rgb(197,200,204);
	background-color:rgb(228,230,233);
  }
  .form-wrapper input[name="username"]{
	border-bottom:none;
	border-radius:5px 5px 0 0;
	box-shadow:inset 0 1px 0 rgb(212,214,217);
	outline:none;
  }
  .form-wrapper input[name="country"] {
	border-radius:0 0 5px 5px;
	outline:none;
  }
  .form-wrapper button[type="submit"] {
	  margin-top:25px;
	  cursor:pointer;
	  width:215px;
	  height:44px;
	  color:#fff;
	  font-size:20px;
	  border:none;
	  border-top:1px solid rgb(190,143,48);
	  position:relative;
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(228,182,88)), color-stop(100%,rgb(218,149,78)));
	  background-size:213px 41px,215px 43px;
	  border-radius:5px;
	  box-shadow:inset 0 1px 0 rgb(242,220,175);
	  text-shadow:1px 1px 0 rgb(138,100,50);
	  transition:color 300ms linear;
  }
  .form-wrapper button[type="submit"]:hover {
	  opacity:0.9;
	  }
  
  .form-wrapper .linker {
	position:absolute;
	width:240px;
	height:40px;
	top:18px;
	left:10px;
  }
  .linker .ring {
	position:relative;
	display:inline-block;
	border:1px solid rgb(163,164,167);
	background-color:rgb(220,222,225);
	height:12px;
	width:12px;
	border-radius: 6px;
	margin-right:33px;
  }
  .linker .ring:last-child {
	margin-right:0;
  }
  .linker .ring:before {
	content:"";
	position:absolute;
	bottom:-25px;
	left:-1px;
	border:1px solid rgb(163,164,167);
	background-color:rgb(220,222,225);
	height:12px;
	width:12px;
	border-radius: 6px;
  }
  .linker .ring:after{
	content:"";
	position:absolute;
	top:2px;
	left:2px;
	width:6px;
	height:30px;
	border:1px solid rgb(202,202,202);
	background-color:rgb(255,255,255);
	border-radius: 3px;
  }

  .login-form{
	  margin-top: 40px;
  }

.footer{
    width: 100%;
    padding: 120px 0;

    background-color: #F5F3F9;
}

.footer__icon {

}

.footer__title {
    text-align: center;

    width: 100%;
    /* max-width: ; */
    margin: 0 auto 14px;

    font-size: 25px;
    font-weight: 700;

    color:rgba(180, 168, 168, 0.562);
}